body {
    background-color: #003049;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
 /* trabajando el header en 2 partes logo y menu */
.header{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    width: 100%; 
    
}

.header__logo{
    font-size: 32px;
    margin-top: 10px;
    margin-left: 30px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    list-style: none;
    padding: 0;
    position: relative;
}

.header__menu li{
    display: inline;
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
    font-size: 18px;
    float: left;
    padding: 10px;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

/* Pie de pagina */
.footer{
    max-height: 250px;
}

.footer__container{
    margin: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.footer__container-left{
    float: left;
    width: 40%;
}

.container__title{
    font-size: 17px;
}

.container__img img{
    height: 35px;
    width: 35px;
}

.footer__container-rigth{
    float: right;
    width: 40%;
}

.footer__container-article{
    text-align: justify;
}

.footer__copy{
    color: #99A3A4;
    font-size: 15px;
    text-align: center;
}